{{#> felles/base}}

    {{#> felles/seksjon/hoved }}
        <h1>Vi har avslått din søknad om aktivitetspenger</h1>

        <p>
            Du søkte om aktivitetspenger fra {{fom}}. Du har ikke har bodd i et EØS land eller et land Norge har trygdeavtale med de siste fem årene. Derfor avslås din søknad.
        </p>

    {{/felles/seksjon/hoved}}

    {{> felles/footer/footer-vedtak }}

{{/felles/base}}
