{{#> felles/base}}

    {{#> felles/seksjon/hoved }}
        <h1>Vi har avslått din søknad om aktivitetspenger</h1>

        <p>
            Du søkte om aktivitetspenger fra {{fom}}. Du har ikke bodd i et EØS-land eller et land Norge har trygdeavtale med de siste fem årene. Derfor avslås søknaden din.
        </p>

    {{/felles/seksjon/hoved}}

    {{> aktivitetspenger/footer/footer-vedtak }}

{{/felles/base}}
