{{#> felles/base}}
    {{#> felles/seksjon/hoved }}
        <h1>Vi har ikke endret aktivitetspengene dine</h1>

        {{#each perioder}}
            <p>Du har gitt oss beskjed om at du hadde inntekt i perioden {{> felles/periode-inline periode}}.</p>
            <p>Vi har sjekket inntekten din i A-ordningen, men arbeidsgiveren din har ikke registrert at du hadde inntekt i perioden.</p>
            <p>Vi har derfor kommet frem til at du får fulle aktivitetspenger for perioden.</p>
        {{/each}}

        <p>Pengene får du utbetalt innen fire dager. </p>

    {{/felles/seksjon/hoved}}

    {{> aktivitetspenger/footer/footer-vedtak }}

{{/felles/base}}

