{{#> felles/base}}


    {{#> felles/seksjon/hoved }}
        <h1>Vi har endret ungdomsprogramytelsen din</h1>
        {{#each perioder}}
            <p>Du får {{> felles/beløp utbetalingBeløp}} i ungdomsprogramytelse for perioden {{> felles/periode-inline periode}}.</p>
            {{#if harKunEnPeriode}}<p>Pengene får du utbetalt innen fire dager.</p>{{/if}}
            <p>
                Du får dette beløpet siden du hadde en inntekt på {{> felles/beløp rapportertInntekt}} i denne perioden.
                Derfor har vi redusert ungdomsprogramytelsen din med et beløp som tilsvarer 66 prosent av inntekten din.
            </p>
        {{/each}}

        {{#unless harKunEnPeriode}}<p>Pengene får du utbetalt innen fire dager. </p>{{/unless}}


        <p>Vedtaket er gjort etter arbeidsmarkedsloven §§ 12 tredje ledd og 13 fjerde ledd og forskrift om forsøk med ungdomsprogram og ungdomsprogramytelse § 11. </p>

    {{/felles/seksjon/hoved}}

    {{> felles/footer/footer-vedtak }}

{{/felles/base}}
