{{#> felles/base}}

    {{#> felles/seksjon/hoved }}
        <h1>Du får ikke lenger ungdomsprogramytelse</h1>

        <p>Fra {{opphørsdato}} får du ikke lenger penger gjennom ungdomsprogramytelsen. Det er fordi du ikke lenger er med i ungdomsprogrammet.</p>
        {{#if sisteUtbetalingsdato}}
            <p>Den siste utbetalingen får du før den {{sisteUtbetalingsdato}}.</p>
        {{/if}}

        <p>Vedtaket er gjort etter arbeidsmarkedsloven §§ 12 tredje ledd og 13 fjerde ledd og forskrift om forsøk med ungdomsprogram og ungdomsprogramytelse § 8 jf. § 6.</p>
    {{/felles/seksjon/hoved}}

    {{> felles/footer/footer-vedtak }}

{{/felles/base}}
