{{#> felles/base}}

    {{#> felles/seksjon/hoved }}
        <h1>&lt;Fyll inn overskrift...&gt;</h1>
        <p>&lt;Fyll inn brødtekst...&gt;</p>
    {{/felles/seksjon/hoved}}
    {{> felles/footer/footer-vedtak }}
{{/felles/base}}
