<h2>Trenger du mer informasjon? </h2>
<p>Du finner mer informasjon på <a title="aktivitetspenger" href="https://nav.no/aktivitetspenger">nav.no/aktivitetspenger</a>.
</p>

<p>På <a title="kontakt" href="https://nav.no/kontakt" >nav.no/kontakt</a> kan du chatte eller skrive til oss. </p>

<p>Hvis du ikke finner svar på nav.no kan du ringe oss på telefon 55 55 33 33, hverdager 09:00-15:00.</p>

{{> aktivitetspenger/footer/hilsen }}
