{{#> felles/base}}

    {{#> felles/seksjon/hoved }}
        <h1>Du får aktivitetspenger</h1>

        <p>
            Fra {{ytelseFom}}{{#if ytelseTom}} til {{ytelseTom}}{{/if}} får du aktivietetspenger utenom lørdag og søndag.
        </p>

    {{/felles/seksjon/hoved}}

    {{> felles/footer/footer-vedtak }}

{{/felles/base}}
