{{#> felles/base}}

    {{#> felles/seksjon/hoved }}
        <h1>Nav har endret din ungdomsytelse</h1>
        <p>
            Fra {{fom}} får du ny dagsats på {{> felles/beløp nyDagsats}} fordi du fyller {{aldersgrense}} år.
        </p>
        <p>Nav utbetaler {{satsFaktor}} ganger grunnbeløp fra deltager er {{aldersgrense}} år. </p>
        <p>Vedtaket er gjort etter folketrygdloven § X-Y.</p>
    {{/felles/seksjon/hoved}}

    {{> felles/footer/footer-vedtak }}

{{/felles/base}}
