{{#> felles/base}}

    {{#> felles/seksjon/hoved }}
        <h1>Du får mer i ungdomsprogramytelse fordi du har fått barn</h1>
        <p>
            Du får  {{> felles/beløp barnetillegg}} i barnetillegg per dag fra og med {{fom}}, utenom lørdag og søndag.
            Det er fordi du fikk barn denne datoen. Disse pengene kommer i tillegg til ungdomsprogramytelsen.
        </p>
        <p>
            <a href="https://www.nav.no/ungdomsprogramytelse/beregning">Se eksempel i Ungdomsportalen på hvordan vi regner ut ungdomsprogramytelsen når du får et barn.</a>
        </p>
        <p>Vedtaket er gjort etter arbeidsmarkedsloven § xx og forskrift om xxx § xx.</p>
    {{/felles/seksjon/hoved}}

    {{> felles/footer/footer-vedtak }}

{{/felles/base}}
