{{#> felles/base}}


    {{#> felles/seksjon/hoved }}
        <h1>Vi har endret ungdomsytelsen din</h1>
        <p>
            Du har meldt inn inntekt på {{> felles/beløp rapportertInntekt}} {{> felles/periode-inline periode}}.
            Nav har derfor redusert utbetalingen din for neste perioden
            til {{> felles/beløp utbetalingBeløp}}.
        </p>
        <p>Nav reduserer utbetalt beløp med {{reduksjonssats}} prosent av innmeldt inntekt. Dette tilsvarer en
            reduksjon på {{> felles/beløp reduksjonBeløp}}. Dagsatsen blir redusert fra {{> felles/beløp dagsats}}
            til {{> felles/beløp redusertDagsats}}. </p>
        <p></p>
        <p>Vedtaket er gjort etter arbeidsmarkedsloven § xx og forskrift om xxx § xx.</p>
    {{/felles/seksjon/hoved}}

    {{> felles/footer/footer-vedtak }}

{{/felles/base}}
