{{#> felles/base}}

    {{#> felles/seksjon/hoved }}
        <h1>Du får mer i ungdomsprogramytelse fordi du fyller {{aldersgrense}} år</h1>

        <p>Du får mer penger gjennom ungdomsprogramytelsen fordi du fyller {{aldersgrense}} år {{fom}}. Fra og med denne
            datoen får du {{> felles/beløp nyDagsats}} per dag, utenom lørdag og søndag.
            {{#if barnetilleggSats}}
                Når du har barn, får du et barnetillegg på {{> felles/beløp barnetilleggSats}} per dag for hvert barn du
                har.
            {{/if}}
        </p>
        <p>Vedtaket er gjort etter arbeidsmarkedsloven § xx og forskrift om xxx § xx.</p>
    {{/felles/seksjon/hoved}}

    {{> felles/footer/footer-vedtak }}

{{/felles/base}}
