{{#> felles/base}}

    {{#> felles/seksjon/hoved }}
        <h1>Vi har endret ungdomsytelsen din</h1>
        <p>
            Fra {{fom}} får du ny dagsats på {{> felles/beløp nyDagsats}} fordi du fikk barn.
        </p>
        <p>Nav utbetaler {{> felles/beløp dagsatsBarnetillegg}} per dag i barnetillegg. </p>
        <p>Vedtaket er gjort etter arbeidsmarkedsloven § xx og forskrift om xxx § xx.</p>
    {{/felles/seksjon/hoved}}

    {{> felles/footer/footer-vedtak }}

{{/felles/base}}
