{{#> felles/base}}

    {{#> felles/seksjon/hoved }}
        <h1>Du får ikke lenger ungdomsprogramytelse</h1>

        <p>Fra {{opphørsdato}} får du ikke lenger penger gjennom ungdomsytelsen. Det er fordi du ikke lenger er med i ungdomsprogrammet.</p>
        <p>
            Den siste utbetalingen får du i {{utbetalingsMånedÅr}}, før den 10. i måneden.
        </p>
        <p>Vedtaket er gjort etter arbeidsmarkedsloven § xx og forskrift om xxx § xx.</p>
    {{/felles/seksjon/hoved}}

    {{> felles/footer/footer-vedtak }}

{{/felles/base}}
