{{#> felles/base}}


    {{#> felles/seksjon/hoved }}
        <h1>NAV har innvilget søknaden din om ungdomsytelse</h1>
        <p>Du får utbetalt X kroner</p>

        <h2>Du må melde fra om endringer</h2>
        <p>Dersom det skjer endringer, må du melde fra til oss. En endring kan være at du begynner å jobbe.</p>
    {{/felles/seksjon/hoved}}

    {{> felles/footer/footer-vedtak }}

{{/felles/base}}