{{#> felles/base}}

    {{#> felles/seksjon/hoved }}
        <h1>Du får mer i ungdomsprogramytelse fordi du har fått barn</h1>
        <p>
            Du får {{> felles/beløp barnetillegg}} i barnetillegg per dag fra og med {{fom}}, utenom lørdag og søndag.
            Det er fordi du fikk barn denne datoen.
        </p>
        <p>
            Når du har barn, får du et barnetillegg på {{> felles/beløp sats}} per dag for hvert barn du har.
        </p>
        <p>Vedtaket er gjort etter arbeidsmarkedsloven §§ 12 tredje ledd og 13 fjerde ledd og forskrift om forsøk med ungdomsprogram og ungdomsprogramytelse § 8 jf. § 3 og § 9 tredje ledd.</p>
    {{/felles/seksjon/hoved}}

    {{> felles/footer/footer-vedtak }}

{{/felles/base}}
