{{#> felles/base}}

    {{#> felles/seksjon/hoved }}
        <h1>Kvoten din i ungdomsprogrammet er utvidet</h1>
        <p>
            Du var planlagt å delta i ungdomsprogrammet til og med {{opprinneligMaksDato}}.
            Kvoten din er nå utvidet, og du kan fortsette til og med {{nyMaksDato}}.
        </p>
        <p>Vedtaket er gjort etter arbeidsmarkedsloven §§ 12 tredje ledd og 13 fjerde ledd og forskrift om forsøk med ungdomsprogram og ungdomsprogramytelse § 6.</p>
    {{/felles/seksjon/hoved}}

    {{> felles/footer/footer-vedtak }}

{{/felles/base}}
