{{#> felles/base}}

    {{#> felles/seksjon/hoved }}
        <h1>Vi har endret ungdomsprogramytelsen din</h1>

        <p>Du fikk tidligere melding om at du ville få ungdomsprogramytelsen til og med {{tidligereSluttdato}}, men denne datoen gjelder ikke lenger.</p>

        <p>Pengene får du så lenge du er i ungdomsprogrammet, men du kan som hovedregel ikke få dem i mer enn ett år. For deg vil det si {{maksdato}}.</p>

        <p>Vedtaket er gjort etter arbeidsmarkedsloven §§ 12 tredje ledd og 13 fjerde ledd og forskrift om forsøk med ungdomsprogram og ungdomsprogramytelse § 8 jf. § 3 og § 6.</p>
    {{/felles/seksjon/hoved}}

    {{> felles/footer/footer-vedtak }}

{{/felles/base}}
