<h2>Du har rett til å klage</h2>
<p>
    Du kan klage på dette vedtaket. Hvis du skal klage, må du gjøre det innen seks uker har gått fra den datoen da du mottok dette vedtaksbrevet.
</p>
<p>
    Når du skal klage, kan du skrive en melding til oss på nettsiden vår: <a
        title="skriv-til-oss" href="https://www.nav.no/skriv-til-oss">nav.no/skriv-til-oss</a>.
    Pass på at du får tydelig fram hva slags vedtak du klager på, og hvorfor du klager.</p>

<h2>Du har rett til innsyn</h2>
<p>Du kan se dokumentene i saken din ved å logge deg inn på <a title="nav hovedside" href="https://nav.no">nav.no</a>.
</p>

{{> felles/footer/footer}}
{{#if felles.automatiskBehandlet}}
    <p>Dette er et automatisk behandlet vedtak.</p>
{{/if}}
