{{#if felles.mottaker.bruker}}
    <h2>Trenger du mer informasjon? </h2>
    <p>Du finner mer informasjon på <a title="omsorgspenger" href="https://nav.no/omsorgspenger">nav.no/omsorgspenger</a>.</p>

    <p>På <a href="https://nav.no/kontakt">nav.no/kontakt</a> kan du chatte eller skrive til oss. </p>

    <p>Hvis du ikke finner svar på nav.no kan du ringe oss på telefon 55 55 33 33, hverdager 09:00-15:00.</p>

{{else}}
    <h2>Har dere spørsmål?</h2>
    <p>Dere finner mer informasjon på <a href="https://nav.no/arbeidsgiver/omsorgspenger">nav.no/arbeidsgiver/omsorgspenger</a></p>

    <p>På <a href="https://nav.no/kontakt">nav.no/kontakt</a> kan dere chatte med oss.</p>

    <p>Dere kan også ringe oss på telefon 55 55 33 36, hverdager 09.00-15.00.</p>

{{/if}}


{{> felles/footer/hilsen }}