
    <h2>Du har rett til 책 klage</h2>
    <p>Du kan klage innen 6 uker fra den datoen du mottok vedtaket. Du finner skjema og informasjon p책 <a
        title="klage" href="https://nav.no/klage">nav.no/klage</a>.</p>

    <h2>Du har rett til innsyn</h2>
    <p>Du kan se dokumentene i saken din ved 책 logge deg inn p책 <a title="nav hovedside" href="https://nav.no">nav.no</a>.</p>

{{> felles/footer/footer}}

