<h2>Trenger du mer informasjon? </h2>
<p>Du finner mer informasjon p책 <a title="omsorgspenger" href="https://nav.no/ungdomsytelse">nav.no/ungdomsytelse</a>.
</p>

<p>P책 <a href="https://nav.no/kontakt">nav.no/kontakt</a> kan du chatte eller skrive til oss. </p>

<p>Hvis du ikke finner svar p책 nav.no kan du ringe oss p책 telefon 55 55 33 33, hverdager 09:00-15:00.</p>

{{> felles/footer/hilsen }}
