<div style="margin-top: 10mm;" class="uten-mellomrom">
    <p>Med vennlig hilsen</p>
    <p>Nav Arbeid og ytelser</p>
</div>

<div style="display: flex; justify-content: space-between;">
    <span>{{felles.brevAnsvarlig.saksbehandlerNavn}}</span>
    <span>{{felles.brevAnsvarlig.beslutterNavn}}</span>
</div>
