<div class="same_page">
    <div style="margin-top: 10mm;" class="uten-mellomrom">
        <p>Med vennlig hilsen</p>
        <p>Nav Arbeid og ytelser</p>
    </div>

    {{#if felles.brevAnsvarlig.saksbehandlerNavn}}
        <table style="width:100%; border-collapse:collapse; margin-top:4mm;">
            <tr>
                <td style="text-align:left; vertical-align:top;">
                    {{felles.brevAnsvarlig.saksbehandlerNavn}}
                </td>
                <td style="text-align:right; vertical-align:top;">
                    {{felles.brevAnsvarlig.beslutterNavn}}
                </td>
            </tr>
        </table>
    {{/if}}
</div>
