apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: ung-sak
  namespace: k9saksbehandling
  labels:
    team: k9saksbehandling
spec:
  image: "{{ image }}"
  port: 8901
  liveness:
    path: /ung/sak/internal/health/isAlive
    initialDelay: 30
    timeout: 5
    periodSeconds: 10
    failureThreshold: 27
    # nais will try failureThreshold times before giving up and restarting the Pod
    # Defaults to 3
  readiness:
    path: /ung/sak/internal/health/isReady
    initialDelay: 30
    timeout: 5
    periodSeconds: 10
    failureThreshold: 27
  preStopHook:
    http:
      path: /ung/sak/internal/health/preStop
  replicas:
    min: 2
    max: 2
    cpuThresholdPercentage: 80
  prometheus:
    enabled: true
    path: /ung/sak/internal/metrics/prometheus
  observability:
    logging:
      destinations:
        - id: loki
        - id: elastic
    autoInstrumentation:
      enabled: true
      runtime: java
      destinations:
        - id: "grafana-lgtm"
  resources:
    limits:
      cpu: "4000m"
      memory: "4096Mi"
    requests:
      cpu: "500m"
      memory: "4096Mi"
  ingresses:
    - "https://ung-sak.intern.nav.no"
  kafka:
    pool: "nav-prod"
  vault:
    enabled: false
  tokenx:
    enabled: true
  azure:
    application:
      enabled: true
      replyURLs:
        - "https://ung.intern.nav.no/ung/sak/cb"
      claims:
        groups:
          # 0000-CA-ung-saksbehandler
          - id: a7b4ffd6-d512-4b0d-991d-24d582b83a57
          # 0000-CA-ung-veileder
          - id: 9fe53d71-5eca-4b26-b77a-534468e0db4a
          # 0000-CA-ung-drift
          - id: 873ae729-e918-4f35-9a26-652ca994b9c3
        extra:
          - "NAVident"
          - "azp_name"
  accessPolicy:
    outbound:
      rules:
        - application: ung-sak
        - application : sif-abac-pdp
        - application: ung-deltakelse-opplyser
      external:
        - host: "dokarkiv.prod-fss-pub.nais.io"
        - host: "k9-abakus.prod-fss-pub.nais.io"
        - host: "k9-oppdrag.prod-fss-pub.nais.io"
        - host: "norg2.prod-fss-pub.nais.io"
        - host: "pdl-api.prod-fss-pub.nais.io"
        - host: "saf.prod-fss-pub.nais.io"
        - host: "oppgave.prod-fss-pub.nais.io"
    inbound:
      rules:
        - application: k9-abakus
          namespace: k9saksbehandling
          cluster: prod-fss
        - application: sif-abac-pdp
        - application: ung-sak
        - application: ung-sak-web
        - application: ung-deltakelse-opplyser
  gcp:
    sqlInstances:
      - type: POSTGRES_16
        name: ung-sak-db
        tier: db-custom-2-5120 # 2 CPU, 5 GB RAM
        diskSize: 100
        diskAutoresize: true
        highAvailability: true
        databases:
          - name: ung-sak
            envVarPrefix: DB
  envFrom:
    - secret: ung-sak-secrets
  env:
    - name: TZ
      value: "Europe/Oslo"
    - name: APP_NAME
      value: "UNG-SAK"

    # open telemetry
    - name: OTEL_RESOURCE_ATTRIBUTES
      value: "service.name=ung-sak,service.namespace=k9saksbehandling,deployment.environment=p,nais.backend=elastic-apm;grafana-lgtm"

    # Integrasjoner (Kafka)
    - name: KAFKA_AKSJONSPUNKTHENDELSE_TOPIC
      value: k9saksbehandling.ung-sak-aksjonspunkthendelse
    - name: KAFKA_AKSJONSPUNKTHENDELSE_AIVEN_TOPIC
      value: k9saksbehandling.ung-sak-aksjonspunkthendelse
    - name: KAFKA_DOKUMENTBESTILLING_AIVEN_TOPIC
      value: k9saksbehandling.k9-dokumenthendelse-v1
    - name: KAFKA_FATTEVEDTAK_UNG_TOPIC
      value: k9saksbehandling.ung-vedtakhendelse
    - name: KAFKA_STONADSTATISTIKK_TOPIC
      value: k9saksbehandling.aapen-ung-stonadstatistikk-v1
    - name: KAFKA_PRODUKSJONSSTYRING_TOPIC
      value: k9saksbehandling.privat-k9-produksjonsstyring-sak-v1
    - name: HENDELSE_PERSON_LEESAH_TOPIC
      value: pdl.leesah-v1
    - name: KAFKA_JOURNAL_TOPIC
      value: teamdokumenthandtering.aapen-dok-journalfoering

    # Loadbalancerconfig
    - name: LOADBALANCER_URL
      value: https://ung.intern.nav.no

    # PDL
    - name: PDL_TEMA
      value: UNG

    # Restservice Generelle
    - name: K9ABAKUS_URL
      value: https://k9-abakus.prod-fss-pub.nais.io/k9/abakus
    - name: K9ABAKUS_SCOPE
      value: api://prod-fss.k9saksbehandling.k9-abakus/.default
    - name: ABAKUS_CALLBACK_URL
      value: https://ung-sak.intern.nav.no/ung/sak/api/registerdata/iay/callback
    - name: ABAKUS_CALLBACK_SCOPE
      value: api://prod-gcp.k9saksbehandling.ung-sak/.default
    - name: ARBEIDSFORDELING_RS_URL
      value: https://norg2.prod-fss-pub.nais.io/norg2/api/v1/arbeidsfordeling/enheter
    - name: OPPGAVE_RS_URI
      value: https://oppgave.prod-fss-pub.nais.io/api/v1/oppgaver
    - name: OPPGAVE_RS_SCOPE
      value: api://prod-fss.oppgavehandtering.oppgave/.default
    - name: PDL_BASE_URL
      value: https://pdl-api.prod-fss-pub.nais.io/graphql
    - name: PDL_SCOPE
      value: api://prod-fss.pdl.pdl-api/.default
    - name: ORGANISASJON_RS_URL
      value: https://modapp.adeo.no/ereg/api/v1/organisasjon
    - name: K9_OPPDRAG_DIREKTE_URL
      value: https://k9-oppdrag.prod-fss-pub.nais.io/k9/oppdrag/api
    - name: K9_OPPDRAG_SCOPE
      value: api://prod-fss.k9saksbehandling.k9-oppdrag/.default
    - name: K9_OPPDRAG_PROXY_URL
      value: /k9/oppdrag/api
    - name: ARBEID_OG_INNTEKT_BASE_URL
      value: https://arbeid-og-inntekt.nais.adeo.no
    - name: UNGDOMSPROGRAMREGISTER_URL
      value: http://ung-deltakelse-opplyser
    - name: UNGDOMSPROGRAMREGISTER_SCOPE
      value: api://prod-gcp.k9saksbehandling.ung-deltakelse-opplyser/.default
    - name: SIF_ABAC_PDP_SCOPE
      value: api://prod-gcp.k9saksbehandling.sif-abac-pdp/.default
    - name: SIF_ABAC_PDP_URL
      value: http://sif-abac-pdp/sif/sif-abac-pdp/api/tilgangskontroll/v2/ung
    - name: NAV_ANSATT_URL
      value: http://sif-abac-pdp/sif/sif-abac-pdp/api/ung/nav-ansatt

    # Saf
    - name: SAF_BASE_URL
      value: https://saf.prod-fss-pub.nais.io
    - name: SAF_SCOPE
      value: api://prod-fss.teamdokumenthandtering.saf/.default
    - name: DOKDISTFORDELING_URL
      value: https://dokdistfordeling.prod-fss-pub.nais.io/rest/v1
    - name: DOKDISTFORDELING_SCOPE
      value: api://prod-fss.teamdokumenthandtering.saf/.default
    - name: DOKARKIV_URL
      value: https://dokarkiv.prod-fss-pub.nais.io/rest/journalpostapi/v1
    - name: DOKARKIV_BASE_URL
      value: https://dokarkiv.prod-fss-pub.nais.io
    - name: DOKARKIV_SCOPE
      value: api://prod-fss.teamdokumenthandtering.dokarkiv/.default

    # Sikkerhet:
    - name: CLIENT_SCOPE
      value: "api://prod-gcp.k9saksbehandling.ung-sak/.default"
    - name: ABAC_ATTRIBUTT_DRIFT
      value: "no.nav.abac.attributter.k9.drift"

    - name: SENSU_HOST
      value: "sensu.nais"
    - name: SENSU_PORT
      value: "3030"

    # Feature-flag
    - name: KODEVERK_SOM_STRING_TOPICS
      value: "true"
    - name: PUBLISER_PRODUKSJONSSTYRING_HENDELSE
      value: "false"
    - name: BIGQUERY_ENABLED
      value: "true"

    # Konfigurasjoner
    - name: FLYWAY_REPAIR_ON_FAIL
      value: "false"
    - name: INNSENDING_HENDELSER_FORSINKELSE
      value: "PT1H"
    - name: RAPPORTERINGSFRIST_DAG_I_MAANED
      value: "5"
    - name: AKSEPTERT_DIFFERANSE_KONTROLL
      value: "15"
    - name: VENTEFRIST_UTTALELSE
      value: "P14D"

    # Audit logging
    - name: AUDITLOGGER_ENABLED
      value: "true"
    - name: AUDITLOGGER_VENDOR
      value: "ung"
    - name: AUDITLOGGER_PRODUCT
      value: "ung-sak"

    - name: PIP_USERS
      value: "srvPDP,srvsaf,srvk9-abakus"
    - name: PIP_APPS
      value: "prod-gcp:k9saksbehandling:sif-abac-pdp,prod-fss:teamdokumenthandtering:saf"
