{{#> felles/base}}

    <h1> Din klage er henlagt </h1>

    Vi har fått beskjed om at du trekker klagen på {{felles/brevnavn}}, og avslutter derfor klagesaken din.

    {{> felles/footer/footer-vedtak}}

{{/felles/base}}
