{{#> felles/base }}

    {{#if delvisMedhold}}
        <h1>NAV har delvis omgjort vedtaket ditt om ungdomsprogramytelse</h1>
    {{else}}
        <h1>NAV har omgjort vedtaket ditt om ungdomsprogramytelse</h1>
    {{/if}}

    Etter at du klaget har vi vurdert saken på nytt. Vi har kommet fram til at vedtaket{{#if delvisMedhold}} delvis{{/if}} gjøres om.

    <h2>Dette har vi lagt vekt på i vurderingen vår</h2>

    {{fritekst}}

    <h2> Du må melde fra om endringer</h2>
    Dersom det skjer endringer som kan ha betydning for vedtaket, må du straks melde fra til NAV. Du finner mer informasjon på <a title="nav.no rett og plikt" href="https://nav.no/rettogplikt">nav.no/rettogplikt</a>.

    {{> felles/footer/footer-vedtak}}

{{/felles/base}}
