{{#> felles/base }}

    <h1>Vi har sendt saken til NAV Klageinstans</h1>

    Vi har vurdert klagen på vedtaket om ungdomsprogramytelse, og kommet fram til at vedtaket ikke endres. NAV Klageinstans skal derfor vurdere saken din på nytt. Du får melding fra NAV Klageinstans når de har mottatt saken.

    Du finner oversikt over saksbehandlingstidene på <a title="nav.no saksbehandlingstider" href="https://nav.no/saksbehandlingstider">nav.no/saksbehandlingstider</a>.

    <h2>Dette har vi lagt vekt på i vurderingen vår</h2>

    {{fritekst}}

    <p>
        Har du nye opplysninger eller ønsker å uttale deg, kan du sende dette via <a title="nav.no ettersendelse" href="https://klage.nav.no/nb/ettersendelse/klage/SYKDOM_I_FAMILIEN">klage.nav.no/nb/ettersendelse/klage/SYKDOM_I_FAMILIEN</a>. Velg NAV-enhet: {{ettersendelsesenhet}}.
    </p>

    {{> felles/footer/footer-vedtak}}

{{/felles/base}}
