<h2>Du har rett til å klage</h2>
<p>
    Du kan klage på dette vedtaket. Hvis du skal klage, må du gjøre det innen seks uker har gått fra den datoen da du mottok dette vedtaksbrevet.
</p>
<p>Du finner skjema og informasjon på <a title="klage" href="https://www.nav.no/klage#ungdomsprogrammet">nav.no/klage#ungdomsprogrammet</a>.
    Pass på at du får tydelig fram hva slags vedtak du klager på, og hvorfor du klager.</p>

<h2>Du har rett til innsyn</h2>
<p>Du kan se dokumentene i saken din ved å logge deg inn på <a title="nav hovedside" href="https://nav.no">nav.no</a>.
</p>

{{> felles/footer/footer}}
{{#if felles.brevAnsvarlig.automatiskBehandlet}}
    <p>Dette er et automatisk behandlet vedtak.</p>
{{/if}}
