<div style="margin-top: -20mm; min-height: 20mm;">
    <div class="uten-mellomrom">
        <p>Til: {{felles.mottaker.navn}}</p>
        <p>Fødselsnummer: {{felles.mottaker.id}}</p>
    </div>
</div>
