<!--
innhold i denne div'en definerer hva som kan redigeres via frontend.
NB: Tagg attributter vil ikke bli med tilbake fra frontend.
-->
<div data-editable="data-editable">
    {{> @partial-block}}
</div>