name: Publish kontrakt
on:
  release:
    types: [published]

jobs:
  build:
    name: Release kontrakt
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'
      - name: Build artifacts
        run: mvn clean install -DskipTests --settings ./.github/.m2/settings.xml --file pom.xml
        env:
          GH_ACCESS_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Publish artifacts
        shell: bash
        run: |
           mvn deploy -e --batch-mode --settings ./.github/.m2/settings.xml --file pom.xml -am -pl kontrakt -DtrimStackTrace=false -Dchangelist= -Dsha1= -Drevision=$NEW_VERSION -Dfile.encoding=UTF-8 -DdeployAtEnd=true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NEW_VERSION: ${{ github.event.release.tag_name }}
